{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    <section class="admin container">
        <h2>{{ 'Administration'|trans }}</h2>
        <div class="form-actions">
            {{ include('product/_save_form.html.twig', {'button_label': 'Update'|trans}) }}
            {{ include('product/_delete_form.html.twig') }}
        </div>
    </section>

    {{ include('product/_form.html.twig') }}
{% endblock %}
