{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>This is a test project. It does in no way aspire to be great, but it <em>should</em> be quite usable to get an impression of what's easily done with Symfony regarding REST services.</p>
        <ul>
            <li><a href="{{ hostname }}:8080" target="_blank">phpMyAdmin</a></li>
            <li><a href="/api">REST API</a>, e.g. for <a href="{{ path('products.list') }}">products</a></li>
        </ul>
    </div>
{% endblock %}